{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div>
                    {% for data in datas %}
                        <label>Token</label>
                        <h5>{{data.tokenNo}}</h5>
                        <label>Name</label>
                        <h5>{{data.name}}</h5>
                        <label>Phone No</label>
                        <h5>{{data.phNo}}</h5>
                        <label>House Name</label>
                        <h5>{{data.hoName}}</h5>
                        <label>Gender</label>
                        <h5>{{data.gender}}</h5>
                        <label>DOB</label>
                        <h5>{{data.DOB}}</h5>
                    {% endfor %}
                </div>
                <div>
                    <table class="table table-dark table-striped"">
                        <thead>
                          <tr>
                            <th scope="col">Medicne</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for medicne in medicnes %}
                                <tr>
                                    <td>{{medicne}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container">
                <form class="mt-2">
                    {% for medicne in medicnes %}
                        <div class="mb-3">
                            <label class="form-label">{{medicne}}</label>
                            <input type="number" class="form-control" name="token" required>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-2">Register...</button>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}